* {
    padding: 0;
    margin: 0;
}

.card {
    width: 32%;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3), 0 2px 10px 0 rgba(0, 0, 0, 0.5) !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3), 0 2px 10px 0 rgba(0, 0, 0, 0.5) !important;
}

.movie-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.swiper-container {
    width: 90%;
    height: 516px;
}

.swiper-slide {
    width: 475.5px;
}

img {
    margin-left: 70px !important;
    width: auto;
    overflow: hidden;
    max-width: 189px;
    height: 284px;
}

h2 {
    word-wrap: break-word;
    margin-left: 70px !important;
}

.keyboard {
    margin: auto;
}